<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(content, pageTitle)">
<head th:replace="~{fragments/header :: head}">
    <title>RUT Booking</title>
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main class="main-content">
        <div th:replace="${content}"></div>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script th:src="@{/js/main.js}"></script>
</body>
</html>
